header {
  height: 100vh;
  width: 100%;
  background-color: @mainGrey;
  min-height: 250px;
  text-align: center;
  .flexAlign(flex-start);
  flex-direction: column;

  .fixedCTA {
    display: none;
  }
  div,
  section {
    width: 100%;
    max-width: 1000px;
  }
  // div for: NAV elements + Logo
  div {
    height: 40vh;
    margin-top: 5%;
    // height+margin ~= 50%

    .flexAlign(space-between, baseline);
  }
  nav {
    width: 50%;
    max-width: 330px;
    margin-left: 10px;
    .flexAlign(space-between);

    a {
      text-decoration: none;
      color: @mainFontColor;
      font-size: 1.5rem;

      &:hover {
        text-decoration: underline;
      }
    } // a
  } // nav

  p {
    width: 90%;
    margin: auto;
  }

  section.intro {
    .flexAlign;
    flex-direction: column;

    p {
      margin-bottom: 8%;
    }
  }
} // header
