.flexAlign(@justify: center, @align: center) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.CTA-Btn(@width: 300px, @height: 50px, @bgColor:@mainBG, @fontColor:@mainFont) {
  width: @width;
  height: @height;
  border: 2px solid @bgColor;
  background: transparent;
  color: @bgColor;
  border-radius: 3px;

  &:hover {
    background-color: @mainBG;
    color: @fontColor;
  }
}
