.flexAlign(@justify: center, @align: center) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.CTA-Btn(@bgColor: @mainBG, @fontColor: @mainFontColor, @width: 300px, @height: 40px) {
  width: @width;
  height: @height;
  border: 3px solid @bgColor;
  background: transparent;
  color: @bgColor;
  border-radius: 3px;
  transition: background-color 0.5s, color 0.5s;
  font-size: 1.8rem;
  cursor: pointer;
  min-height: 30px;

  &:hover {
    background-color: @bgColor;
    color: @fontColor;
  }
}

.animateMenu(@name, @startOpacity: 0, @endOpacity: 100, @startX: -40px, @endX: 0px, @bgStart: transparent, @bgEnd:@mainBlack) {
  animation-name: @name;
  animation-duration: 0.4s;
  //animation-timing-function: ease-out;
  animation-fill-mode: both;

  @keyframes @name {
    from {
      transform: translate(@startX, 0);
      background-color: @bgStart;
      opacity: @startOpacity;
    }
    to {
      transform: translate(@endX, 0);
      background-color: @bgEnd;
      opacity: @endOpacity;
    }
  } // @keyframes
}
